<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiCardsHeart, mdiCursorDefaultClick } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiCardsHeart" /> Like Me
          <template v-slot:Tail> Tail </template></FancyButton
        >
      </v-col>
      <v-col
        ><FancyButton>
          <template #Tail> <v-icon :icon="mdiCursorDefaultClick" /></template>
          Click Me</FancyButton
        >
      </v-col>
      <!-- <v-col>
        <v-btn> <v-icon :icon="mdiCardsHeart"></v-icon></v-btn>
      </v-col> -->
    </v-row>
  </v-container>
</template>
<style></style>
