<script setup lang="ts">
import { ref } from "vue";
import FrameProfileVue from "@/components/FrameProfile.vue";
import {
  mdiCardsHeart,
  mdiHandWaveOutline,
  mdiAccountBox,
  mdiBookEducation,
  mdiController,
} from "@mdi/js";

const schoolList = ref([
  {
    class: "Elementary School",
    name: "Anuban Chonburi School",
    location: "Tambon Bang Pla Soi, Chon Buri District, Chon Buri 20000",
    year: "2009-2015",
    color: "#ffe674",
  },
  {
    class: "Junior High School",
    name: "Chonkanyanukoon School",
    location:
      "41 Tamnaknum Road, Bang Pla Soi, Chon Buri District, Chon Buri 20000",
    year: "2016-2018",
    color: "#ffe674",
  },
  {
    class: "Senior High School",
    name: "Chonradsadornumrung School",
    location:
      "215 Moo 3, Prayasajja Road, Tambon Bang Suan, Chon Buri District, Chon Buri 20000",
    year: "2018-2021",
    color: "#ffe674",
  },
]);

const hobbyList = ref([
  {
    name: "Game",
    caption: "Fav now : Valorant, FiveM , Minecraft , Stardew Valley",
    img: "https://assets.reedpopcdn.com/valorant-poradnik-i-najlepsze-porady-1591187748031.jpg/BROK/thumbnail/1600x900/quality/100/valorant-poradnik-i-najlepsze-porady-1591187748031.jpg",
  },
  {
    name: "Music",
    caption: "Fav now : Attention from NewJeans",
    img: "https://i.scdn.co/image/ab67616d00001e029d28fd01859073a3ae6ea209",
  },
  {
    name: "Series",
    caption: "Fav now : Wednesday Addams, 13 REASONS WHY",
    img: "https://bloody-disgusting.com/wp-content/uploads/2022/09/wednesday-2.png",
  },
]);
</script>
<template>
  <v-container>
    <v-card color="basil">
      <v-container>
        <div class="bg-basilreal d-flex w-100 align-center px-4">
          <v-avatar class="align-right"></v-avatar>
        </div>
        <v-img
          src="https://cdn.discordapp.com/attachments/862515443943080026/1052478731211509780/IMG_0292.JPG"
          max-height="200"
          max-width="100%"
          cover
          class="bg-grey-lighten-2"
        >
          <v-card-title class="text-center justify-center py-6">
            <h2 class="font-weight-black text-h1 text-yellow">Portfolio</h2>
          </v-card-title></v-img
        >
      </v-container>

      <v-spacer></v-spacer>
      <v-container>
        <v-row>
          <v-col cols="3" class="justify-center">
            <v-card class="bg-brown pa-10" variant="flat" max-width="500">
              <v-img
                src="https://cdn.discordapp.com/attachments/862515443943080026/1052502151806603304/IMG_0736.jpg"
                alt="Som"
              ></v-img>
              <v-card-item>
                <div class="text-caption align-center">
                  Hello <v-icon :icon="mdiHandWaveOutline"></v-icon> I'm collage
                  student from Burapa University. This is practice space for my
                  coding skill. And this website is for Web Programing subject.
                  Hope you enjoy my website
                  <v-icon :icon="mdiCardsHeart"></v-icon>
                </div>
              </v-card-item>
            </v-card>
          </v-col>
          <v-col>
            <v-table class="bg-basil pa-10 mb-4" density="compact">
              <thead>
                <tr>
                  <td class="font-weight-medium text-body-1 text-brown"></td>
                </tr>
                <tr>
                  <td class="font-weight-black text-h4 text-basil">
                    <v-icon :icon="mdiAccountBox" /> About me
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="text-left ml-15 text-button text-brown">
                      Name : Thanchanok Palng
                      <br />Nickname : Som <br />Birthday : 12th May 2003<br />
                      Age : 19 y/o
                      <br />
                      Gender : Female
                      <br />
                      Blood type : AB <br />
                      Phone : +66 (96) 941-7976
                    </p>
                  </td>
                </tr>
                <br />
                <tr>
                  <td class="font-weight-black text-h4 text-basil">
                    <v-icon :icon="mdiBookEducation" /> Education History
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-card-text>
                      <v-timeline density="compact">
                        <v-timeline-item
                          v-for="(item, index) of schoolList"
                          :key="index"
                          :class="item.class"
                          :name="item.name"
                          :location="item.location"
                          :year="item.year"
                          :dot-color="item.color"
                          size="large"
                        >
                          <div class="mb-4">
                            <div class="font-weight-normal">
                              <div class="text-basil font-weight-light">
                                {{ item.class }}<br />
                                <div
                                  class="text-basil text-button font-weight-black"
                                >
                                  {{ item.name }}
                                </div>

                                <div class="text-brown">
                                  {{ item.location }}<br />Since {{ item.year }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </v-timeline-item>
                      </v-timeline>
                    </v-card-text>
                  </td>
                </tr>
                <br />
                <tr>
                  <td class="font-weight-black text-h4 text-basil">
                    <v-icon :icon="mdiController" /> Hobby
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-col v-for="(item, index) of hobbyList" :key="index">
                      <FrameProfileVue
                        :name="item.name"
                        :caption="item.caption"
                        :img="item.img"
                      ></FrameProfileVue>
                    </v-col>
                  </td>
                </tr>
              </thead>
              <tbody></tbody>
            </v-table>
          </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-img
          src="https://cdn.discordapp.com/attachments/862515443943080026/1052478731211509780/IMG_0292.JPG"
          max-height="200"
          max-width="100%"
          cover
          class="bg-grey-lighten-2"
        ></v-img>
        <div class="bg-basilreal d-flex w-100 align-center px-4">
          <v-avatar class="mt-5 mb-5 mr-1 align-right"
            ><v-img
              src="https://www.citypng.com/public/uploads/preview/-11590198904fydawky79s.png"
            ></v-img>
          </v-avatar>
          <p class="ml-3 text-Caption text-yellow">IG : i_lsom03</p>
          <v-avatar class="ml-10 mt-5 mb-5 mr-1 align-right"
            ><v-img
              src="https://i.pinimg.com/564x/21/7e/b7/217eb7b5f9b60fd7c7e5e9ed158c7ab7.jpg"
            ></v-img>
          </v-avatar>
          <p class="ml-3 text-Caption text-yellow">FB : SO O MO</p>
        </div>
      </v-container>
    </v-card>
  </v-container>
</template>
<style scoped>
.bg-basil {
  background-color: #fffbe6 !important;
}
.bg-basilreal {
  background-color: #356859 !important;
}
.text-basil {
  color: #356859 !important;
}
.text-brown {
  color: rgb(104, 88, 66);
}
.text-yellow {
  color: #ffe674 !important;
}
</style>
